POSTGRES_USER=medicare
POSTGRES_PASSWORD=medicare_pass
POSTGRES_DB=medicaredb
DATABASE_URL=postgresql://medicare:medicare_pass@db:5432/medicaredb
SECRET_KEY=changez-cette-cle-en-production-minimum-32-caracteres
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
